//Import fonts

@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Anton|Atomic+Age');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

// Font-size

$f-small: 0.625‬rem;
$f-normal:0.75rem;
$f-medium:0.875rem;
$f-large:1rem;
$f-big: 1.125rem;
$f-xs: 1.375rem;
$f-superXS: 1.875‬rem;
$f-titleLogin: 3.375‬rem;

// Font-size Disturb

$f-header: 45px;

//Style font

$serif: sans-serif;
$roboto: 'Roboto', sans-serif;
$anton: 'Anton', sans-serif;
$atomic: 'Atomic Age', cursive;
$staatliches: 'Staatliches', cursive;